.Title {
    float: left;
    margin-left: 50px;
    font-family:Franklin Gothic;
    font-size: 30px;
    color: #ffffff
}


.Header {
    text-align: center;
    font-family: Franklin Gothic;
    font-size: 30px;
    background: #5db1ff;
    height: 100px;
    color: #ffffff;
}


.Background_Main {
    position: relative;
    width: auto;
    height: auto;
}


.Intro_Title {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    font-family:Helvetica;
    font-size: 70px;
    color: #4583bc;

}

.Footer {
    background: #5db1ff;
}