.Title {
    float: left;
    margin-left: 50px;
    font-family:Franklin Gothic;
    font-size: 30px;
    color: #ffffff
}


.Header {
    text-align:center;
    font-family:Franklin Gothic;
    font-size: 30px;
    background: #5db1ff;
    height: 100px;
    color: #ffffff
}


.Intro_Title {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    font-family:Helvetica;
    font-size: 45px;
    color: #4583bc
}